<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>UBankConnect.Online</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style type="text/css">
		.main-img{
		    padding-top: 20%;
			text-align: center
		}
		.marqueeImages {
    position: fixed;
    z-index: 9;
    height: 100%;
    top: 0;
    width: 100%;
}
/*.marqueeImages marquee img{
	height: 100px;
	 float: left;
}*/
	</style>
</head>
<body>
	<div className="contents">
		<!-- <div className="marqueeImages">
			<marquee ><img src="https://www.bankconnect.online/assets/ubankconnect/img/logo.svg"/></marquee>
			<marquee ><img src="https://www.bankconnect.online/assets/ubankconnect/img/logo.svg"/></marquee>
			<marquee ><img src="https://www.bankconnect.online/assets/ubankconnect/img/logo.svg"/></marquee>
			<marquee ><img src="https://www.bankconnect.online/assets/ubankconnect/img/logo.svg"/></marquee>
			<marquee ><img src="https://www.bankconnect.online/assets/ubankconnect/img/logo.svg"/></marquee>
			<marquee ><img src="https://www.bankconnect.online/assets/ubankconnect/img/logo.svg"/></marquee>
			<marquee ><img src="https://www.bankconnect.online/assets/ubankconnect/img/logo.svg"/></marquee>
		</div> -->
		<div className="container">
			<div className="main-img"><img src="https://www.bankconnect.online/assets/ubankconnect/img/logo.svg"/></div>
			<div><marquee behavior="alternate"> Welcome To UBankConnect.online</marquee></div>
			<div className="marqueeImages">
				<marquee direction="down" behavior="alternate" width="800" height="400">
				  <marquee behavior="alternate">
				     UBankConnect.online
				  </marquee>
				</marquee>
			</div> 
		</div>
	</div>
</body>
</html>